.sui-skeleton {
  width: 100%;
  display: block;
  background: lightgray;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
  height: 1rem;
}
@keyframes shine {
  to {
    background-position: 100% 0, 0 0;
  }
}
.sui-skeleton-text {
  border-radius: 6px;
  height: 1rem;
}
.sui-skeleton-rectangle {
}
.sui-skeleton-circle {
  border-radius: 50%;
}
