.sui-alert-component-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sui-alert-component {
  padding: 0.8rem 0.7rem;
  width: 50vw;
  border-radius: 5px;
  top: 2rem;
  position: fixed;
  z-index: 999;
  display: flex;
  gap: 1rem;
  background-color: rgb(243, 226, 226);
  /* background-color: rgb(247, 232, 212); */
  /* background-color: rgb(215, 234, 241); */
  /* background-color: rgb(237, 247, 237); */
  /* color: rgb(95, 33, 32); */
  /* color: rgb(87, 60, 23); */
  /* color: rgb(37, 79, 99); */
  /* color: rgb(47, 126, 50); */
}

.sui-error-alert-icon {
  color: rgb(236, 104, 104);
}

.sui-warning-alert-icon {
  color: rgb(87, 60, 23);
}

.sui-info-alert-icon {
  color: rgb(37, 79, 99);
}

.sui-success-alert-icon {
  color: rgb(47, 126, 50);
}
